main {  
    height: 100vh; 
    display: grid;
    place-items: center;
    transition: 2s;
  }
  img {
    width: 300px;
    aspect-ratio: 3/4;
    object-fit: cover;
    transform-origin: left;
    border-radius: 0 1rem 1rem 0;
    transition: 2s;
  }
  img:hover {
    transform: rotateY(180deg);
  }
  main:has(img:hover) {
    translate: 150px 0;
  }
  div {
    position: absolute;
    z-index: -1;
    width: 300px;
    aspect-ratio: 3/4;
    border-radius: 0 1rem 1rem 0;
    background: #ddd;
  }
  h2, p {
    margin: 1rem;
  }